body {
    margin: 0;
    background-color: #bdb299;
}

#bodySection {
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: solid;
}

@media(max-width: 1100px) {
    #bodySection {
    margin-right: 20px;
    margin-left: 20px;
    }
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin: 0;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.projectSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid;
    margin-bottom: 20px;
}

.projectLeft {
    margin-right: 20px;
}

.projectLeft h3 {
    border-bottom: 1px solid;
}

.projectLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projectLinks a {
    text-decoration: none;
    font-size: 18px;
    background-color: #333333;
    text-align: center;
    padding: 10px 30px;
    margin: 10px;
    border: 2px solid;
    border-radius: 40px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.projectLinks a:hover {
    background-color: #859fab;
}

.thumbnail {
    height: 550px;
    width: 250;
    border: solid;
}

#backBtn {
    text-decoration: none;
    font-size: 18px;
    background-color: #634b4b;
    text-align: center;
    padding: 10px 30px;
    margin: 10px;
    border: 2px solid;
    border-radius: 0px 10px 10px 40px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

#backBtn:hover {
    background-color: #916969;
}

#secretBtn {
    text-decoration: none;
    font-size: 8px;
    color: #ffffff;
}