body {
    margin: 0;
    background-color: #163332;
}

header {
    padding-top: 25px;
}

#header1 {
    background-image: linear-gradient(#163332, #54fff9);
    padding-top: 25px;
}

#header2 {
    background-color: #54fff9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#headerTitle {
    margin: 0;
}

main {
    background-color: #54fff9;
}

.projectSection {
    background-color: #4f9bff;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}

img {
    height: 400px;
    width: 200px;
    border: 3px solid #54fff9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkButtons {
    text-decoration: none;
    background-color: #54fff9;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid #cffffd;
    border-radius: 10px;
    color: #000000;
}

.linkButtons:hover {
    background-color: #4ce0db;
}

.linkButtonsAlt {
    text-decoration: none;
    background-color: #4f9bff;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid #01204a;
    border-radius: 10px;
    color: #000000;
}

.linkButtonsAlt:hover {
    background-color: #6babff;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #54fff9;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
}