body {
    margin: 0;
    background-color: #bdb299;
}

#bodyGas {
    background-color: #fa654b;
}

#bodyCat {
    background-color: #faccff;
}

#bodyTic {
    background-color: #3b3b3b;
}

#bodySection {
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: solid;
}

@media(max-width: 1100px) {
    #bodySection {
    margin-right: 20px;
    margin-left: 20px;
    }
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin: 0;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.itemSec {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.picDiv img {
    height: 600px;
    width: 300px;
    border: solid;
}

.picBio {
    border-bottom: 1px solid;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picBio p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}